* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      color: #aa9f9f;
      background: linear-gradient(
        120deg,
        #c3eaff,
        #ffd6e7,
        #cbfcff,
        #fcc9ff
      );
      background-size: 400% 400%;
      animation: smoothAnimation 12s ease-in-out infinite;
    }

    header {
      position: fixed;
      top: 0;
      width: 100%;
      background: rgba(250, 210, 210, 0.321);
      backdrop-filter: blur(8px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      z-index: 1000;
      box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    }

    header h1 {
      color: #e91e63;
      font-size: 24px;
    }

    nav a {
      position: relative;
      margin-left: 20px;
      text-decoration: none;
      color: #555;
      width: 20px;
      font-weight: 500;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0%;
        height: 2px;
        border-radius: 50px;
        background-color: #e91e63;
        transition: 0.3s all ease;
    }
    nav a:hover {
      color: #e91e63;
    }

    nav a:hover::after {
      width: 100%;
    }

    .main {
      height: 100vh;
      background: linear-gradient(rgba(169, 169, 169, 0.3), rgba(60, 60, 60, 0.3)), url(image.png);
      box-shadow: 1px 1px 20px 9px rgba(0, 0, 0, 0.138);
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #f53172;
      text-shadow: #55555544 1px 1px 10px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 20px;
    }

    .main h2 {
      font-size: 48px;
      margin-bottom: 20px;
    }

    .main button {
      padding: 10px 30px;
      border: none;
      border-radius: 30px;
      background: #e91e63;
      color: white;
      box-shadow: 1px 1px 30px 1px rgba(0,0,0,0.2);
      backdrop-filter: blur(5px);
      font-size: 20px;
      cursor: pointer;
      border: 3px solid #e91e63;
      transition: 0.3s all ease;
    }
    .main button:hover {
      background: #fb246c33;
    }

    section {
      padding: 80px 40px;
    }

    .title {
      text-align: center;
      font-size: 42px;
      margin-bottom: 50px;
      color: #e91e63;
    }
    .about p {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .contact p {
      font-size: 20px;
    }
    

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
      gap: 50px;
    }

    .card {
      position: relative;
      color: thistle;
      text-shadow: #55555544 1px 1px 5px;
      border-radius: 20px;
      border: rgba(255, 255, 255, 0.038) 2px solid;
      width: 100%;
      height: 320px;
      overflow: hidden;
      box-shadow: 1px 5px 10px 5px rgba(0,0,0,0.1);
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-15px) scale(1.05);
    }

    .card img {
      position: absolute;
      top: -30px;
      left: -30px;
      width: 120%;
      height: 120%;
      object-fit: cover;
      transition: 0.3s;
    }
    .card:hover img {
      transform: scale(0.85);
      filter: blur(5px) contrast(80%);
    }

    .card-content {
      position: absolute;
      left: 0;
      width: 100%;
      height: -100%;
      padding: 20px;
      bottom: -150px;
      text-align: center;
      transition: 0.3s all ease;
    }
    .card:hover .card-content {
      bottom: 10px;
    }
    .card-content h3 {
      margin-bottom: 10px;
    }

    .card-content p {
      color: #e91e63;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .card-content button {
      padding: 8px 20px;
      border: none;
      border: #e91e63 solid 3px;
      border-radius: 20px;
      background: #e91e63;
      color: white;
      cursor: pointer;
      transition: 0.3s all ease;
    }
    .card-content button:hover {
      background: #fb246c33;
      color: #e91e63;
      font-weight: 600;
    }
    .card-content button:active {
      transform: scale(1.05);
      background-color: #89153c3f;
      backdrop-filter: blur(10px);
    }

    .about, .contact, .icons {
      font-family: "Dangrek", sans-serif;
      font-weight: 400;
      font-style: normal;
      max-width: 800px;
      margin: auto;
      text-align: center;
      line-height: 1.8;
    }
    .about p {
      font-family: "Dangrek", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .site-footer .kh {
      font-family: "Dangrek", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
      font-size: 22px;
    }

    .icons li {
      display: flex;
      align-items: center;
      list-style: none;
      width: 40px;
      height: 40px;
      padding: 0px;
      overflow: hidden;
      transition: width 0.35s ease;
    }

    .icons a {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #1f1c1d;
      white-space: nowrap;
      transition: color 0.3s ease;
    }

    .icons li:hover {
      width: 200px;
    }

    .icons li:hover a {
      color: #f53172;
    }


    .site-footer {
      font-family: "Dangrek", sans-serif;
      font-weight: 400;
      font-style: normal;
      background-color: #f53172;
      color: #ffffff;
      text-align: center;
      padding: 20px 10px;
      font-size: 14px;
      border-top: 1px solid #e0e0e0;
    }

    .site-footer p {
      margin: 6px 0;
    }

    .icons i {
      font-size: 25px;
      margin-right: 10px;
      vertical-align: middle;
    }

    .fav-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: #ffffff30 solid 2px;
      background: rgba(255, 255, 255, 0.09);
      backdrop-filter: blur(4px);
      font-size: 20px;
      color: #999;
      cursor: pointer;
      z-index: 2;
      transition: 0.3s;
    }
    .fav-btn:active {
      color: #e91e63;
      transform: scale(1.2);
    }

    hr {
      border: none;
      border-top: 2px solid #e6d6e4;
      margin: 90px;
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 50px;
      height: 50px;
      background-color: #0909090e;
      border: #ffffff11 solid 3px;
      backdrop-filter: blur(3px);
      border-radius: 50%;
      bottom: 30px;
      right: 30px;
      font-size: 30px;
      color: #e91e63;
      cursor: pointer;
      z-index: 2000;
    }

    html {
      scroll-behavior: smooth;
    }

    @keyframes smoothAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    @media(max-width:600px){
      .hero h2 { font-size: 32px; }
      header { padding: 15px 20px; }
    }